body {
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: burlywood!important;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}

.collapse {
    margin-left: 450px;
}

.navbar li {
    padding-right: 25px;
    margin-right: 25px;
}

.navbar .btn {
    border-radius: 90px;
    width: 120px;
    background: linear-gradient(237,65deg), #ffC000 1.55%, #FF8A00 95.8%;
    border-color: #FFC000;
    background: #FFC000;
}

.navbar-brand {
    color: white;
}
/* Jumbotron */
h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 150.34%;
}
.jumbotron {
    background-image: url("Hero.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 705px;
    color: white;
}
.jumbotron .btn {
    border-radius: 100px;
    height: 56px;
    width: 160px;
    background: white;
    border-color: white;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFC000;
}
/* services */
.services {
    height: 560px;
    background: white;
}
h4 {
    font-weight: bold;
    font-size: 40px;
    line-height: 150.34%;
    color: #FF8A00;
}